/* Import Tailwind CSS */
@import "tailwindcss";

@custom-variant hover (&:hover);

@theme {
  /* Primary colors */
  --color-primary-100: #282828;
  --color-primary-200: #ebdbb2;

  /* Accent colors */
  --color-accent-100: #fe8019;
}

/* Base Layer */
@layer base {
  /* Base body styles */
  * {
    @apply !scroll-smooth;
    @apply !scroll-pt-48;
    @apply box-border;
  }

  body {
    @apply bg-primary-100;
    font-family: var(--font-jetbrains-mono);
  }

  /* Heading typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-jetbrains-mono);
    @apply tracking-tight text-primary-200 font-bold text-center;
  }

  /* Code typography */
  code,
  pre {
    font-family: var(--font-jetbrains-mono);
  }

  /* H1 specific styling */
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h6 {
    @apply text-base md:text-lg lg:text-xl;
  }

  p {
    @apply text-base md:text-lg;
    @apply tracking-tight text-primary-200 text-center;
  }
}

@utility flex-center {
  @apply flex w-full items-center justify-center flex-col;
}
